*{
    box-sizing: border-box;
}
.body{
    margin: 0;
    padding: 0;
}
.my_header{
    background-color: rgb(47, 131, 146);
    width: 100%;
    padding:  20px;
}
.nav_item_list {
    text-decoration: none;
    color: rgb(255, 255, 255);
   
}
.nav_item{
    display: inline-block;
    text-align: right;
    width: calc(100% - 75px);
    vertical-align: middle;
}
.nav_item_lists {
    display: flex;
    margin: 0px 16px;
    list-style: none;
    justify-content:end;
    gap: 25px;
    text-align: middle;
  }
  
.my_header>div{
    display: inline-block;
}
.logo{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: 900;
    font-size: 20px;
    vertical-align: middle;
}
.nav_item_lists a:hover {
    color: rgb(12, 12, 12);
    font-weight: 900;
  }
  
  .nav_item_lists a:active {
    color: rgb(250, 250, 247);
    font-weight: 900;
  }
 